<h3><%= header %></h3>

<div class="row">
  <table class="table">
    <tr>
      <th>Item</th>
      <th>Name</th>
      <th>Price</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
      <td><%= image_tag(product.photo_url, class: "cart-thumbnail") %></td>
      <td>
      <%= link_to product.name, product_path(product.id) %></td>
      <td><%= number_to_currency(product.price) %></td>
    </tr>
    <% end %>
  </table>
</div>
