<h1>Order Confirmation</h1>

<h3>Below is your order confirmation</h3>

<table>
  <th>Item</th>
  <th>Price</th>
  <% @order_items.each do |item| %>
  <tr>
    <td><%= item.product.name %></td>
    <td><%= number_to_currency(item.revenue) %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= "Total: #{number_to_currency(@total)}" %></td>
  </tr>
</table>

<h3>Billed To:</h3>
<ul>
  <% @customer_info.each do |info| %>
  <li><%= info %></li>
  <% end %>
</ul>
